<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #02253f;">

  <div class="col-4" style="background-color: rgba(248, 248, 7, 0.863);" >
    <!-- <a href="#"><i class="fas fa-hard-hat"></i> </a> -->
   <div class="row">
    <div class="col-2"><img src="../../../assets/img/logo.webp" alt="" style=""  id="logo"></div>
    <div class="col-8"><a class="navbar-brand col-6" href="#"> Esfera Construcciones</a></div>
  </div>
    <!-- <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">dfdfd</button> -->

  </div>

  <div class="collapse navbar-collapse offset-4" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">Servicios <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">Nosotros <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">Proyectos <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">Contacto <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
  </div>
</nav>
