<div class="row">
  <div class="col-12" id="sectioTituloServ">
    <h1 id="tituloServ">Servicio</h1>
    <div id="rayita"></div>
  </div>

  <div class="imagenesList">
    <div class="row">
      <div class="img1">

          <span>
       <div id="divIMG1"> <img src="../../../assets/img/planeacion.jpg" alt=""></div>
        <h2>Lorem, ipsum dolor.</h2>        
        <div id="tt1"><p id="t1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nulla debitis animi architecto ipsum eveniet?</p></div>
        </span>

          <span>
        <div id="divIMG"><img src="../../../assets/img/maqueta.jpg" alt=""></div>
        <h2>Lorem, ipsum dolor.</h2>
        <div id="tt2"><p id="t2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nulla debitis animi architecto ipsum eveniet?</p></div>
        </span>

          <span>
       <div id="divIMG"> <img src="../../../assets/img/constrccion.jpg" alt=""></div>
        <h2>Lorem, ipsum dolor.</h2>
        <div id="tt3"><p id="t3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nulla debitis animi architecto ipsum eveniet?</p></div>
        </span>
      </div>

    </div>
  </div>

</div>
